@media (max-width: 1200px) {
    .about {
      flex-direction: column; /* Stack the items on smaller screens */
    }
  }
@media (min-width:1200px){
    /* .about .image{
        margin-left:3%;
        width:auto !important;
        height: 80vh;
    } */
    .about-item{
        width:50%;
    }
}




/* Change this section in About.css */
#About.section-header {
    margin-top: 30px; /* Reduced from 50px */
    margin-bottom: -60px; /* Ensure no extra space below the word "About" */
}

.about {
    display: flex;
    justify-content: center;
    align-content: start;
    /* Reduced top margin from 5vh to 1vh or 10px */
    margin: 1vh 15% 5vh 15%; 
}

.about-item{
    display:flex;
    margin-top: -50px;
    flex-direction: column;
    justify-content:start;
    align-content:center;
    font-size:1.1em;
    /* color:var(--darker-grey); */
    margin-right:3%;
    margin-left:3%;
}
p{
    line-height:2;
}
 