
.about {
    display: flex;
    justify-content: center;
    align-content: start;
    margin: 1vh 15% 5vh 15%; 
}

#About.section-header {
    margin-top: 30px; /* Reduced from 50px */
    margin-bottom: -60px; /* Ensure no extra space below the word "About" */
}

/* Allows for left right configuration*/
.about-item{
    display:flex;
    margin-top: -50px;
    flex-direction: column;
    justify-content:start;
    align-content:center;
    font-size:1.1em;
    margin-right:3%;
    margin-left:3%;
}

p{
    line-height:2;
}
 

@media (max-width: 1200px) {
    .about {
      flex-direction: column; /* Stack the items on smaller screens */
    }
  }
@media (min-width:1200px){
    /* .about .image{
        margin-left:3%;
        width:auto !important;
        height: 80vh;
    } */
    .about-item{
        width:50%;
    }
}